In [2]:
import pandas as pd
df = pd.read_csv("Historical Product Demand.csv")

In [3]:
df.dropna()

         Product_Code Warehouse Product_Category       Date Order_Demand
0        Product_0993    Whse_J     Category_028  2012/7/27         100
1        Product_0979    Whse_J     Category_028  2012/1/19         500
2        Product_0979    Whse_J     Category_028   2012/2/3         500
3        Product_0979    Whse_J     Category_028   2012/2/9         500
4        Product_0979    Whse_J     Category_028   2012/3/2         500
...               ...       ...              ...        ...          ...
1048570  Product_1791    Whse_J     Category_006  2016/4/27        1000
1048571  Product_1974    Whse_J     Category_006  2016/4/27           1
1048572  Product_1787    Whse_J     Category_006  2016/4/28        2500
1048573  Product_0901    Whse_J     Category_023  2016/10/7          50
1048574  Product_0704    Whse_J     Category_001  2016/6/27           4

[1037336 rows x 5 columns]

In [4]:
df.drop(["Date"], axis=1, inplace=True)

In [5]:
from sklearn.preprocessing import LabelEncoder
features = len(df.columns)
df["Product_Code"] = LabelEncoder().fit_transform(df["Product_Code"])
df["Warehouse"] = LabelEncoder().fit_transform(df["Warehouse"])
df["Product_Category"] = LabelEncoder().fit_transform(df["Product_Category"])
df["Order_Demand"] = LabelEncoder().fit_transform(df["Order_Demand"])

In [6]:
df

         Product_Code  Warehouse  Product_Category  Order_Demand
0                 982          2                27           543
1                 968          2                27          2847
2                 968          2                27          2847
3                 968          2                27          2847
4                 968          2                27          2847
...               ...        ...               ...           ...
1048570          1780          2                 5           544
1048571          1962          2                 5           541
1048572          1776          2                 5          1890
1048573           890          2                22          2846
1048574           703          2                 0          2543

[1048575 rows x 4 columns]

In [7]:
features = len(df.columns)
y = df.iloc[:, -1:].values # Get only last column

X = df.iloc[:, :-1].values # All columns except

In [8]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_normalized = scaler.fit_transform(X)

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_normalized, y, test_size=0.2)
X_validate, X_test, y_validate, y_test = train_test_split(X_test, y_test, test_size=0.5)

In [28]:
from sklearn.neighbors import KNeighborsRegressor

scores = []
results = 0
best_score = 0
neighbors = range(5, 10)

for i in neighbors:
    knn = KNeighborsRegressor(n_neighbors=i).fit(X_train, y_train)
    results = knn.score(X_test, y_test)
    scores.append(round(results, 2))
    
    if results > best_score:
        best_score = results
        best_k = i
        best_model = knn
        
print(scores)
print(best_k)

[-0.07, -0.04, -0.02, -0.01, 0.0]
9

In [29]:
score = best_model.score(X_validate, y_validate)

AttributeError: 'KNeighborsRegressor' object has no attribute 'r2_score'

In [31]:
from sklearn.ensemble import RandomForestRegressor

modelRFR = RandomForestRegressor(criterion="mse", max_leaf_nodes=100).fit(X_train, y_train.ravel())
score = modelRFR.score(X_test, y_test)
y_pred = modelRFR.predict(X_test)

from sklearn.metrics import mean_squared_error

print("Accuracy:", score)
print("MSE:" + str(mean_squared_error(y_test, y_pred)))

C:\Users\angel\anaconda3\envs\pml\lib\site-packages\sklearn\ensemble\_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(

Accuracy: 0.059810593919471966
MSE:900828.0929960677

In [33]:
from sklearn.metrics import r2_score

print(modelRFR.r2_score)

AttributeError: 'RandomForestRegressor' object has no attribute 'r2_score'